.graph_container {
    text-align: center;  /* 画像を中央に配置 */
    margin: 20px 0;
}

.graph_container img {
    width: 100%;  /* 画像の幅を100%に調整 */
    max-width: 900px;  /* 最大サイズを900pxに制限 */
    height: auto;  /* アスペクト比を維持 */
}

.graph_container table th {
    background-color: lightgreen;
}
