<!DOCTYPE html>
<html>
<head>
    <title>同棲家計簿　～設定～</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings_screen.css') }}">
</head>
<body data-page="setting">
    <div class="page_header">
        <button id="menu-toggle">&#9776;</button> <!-- ハンバーガーメニューのボタン -->
        <h1>同棲家計簿</h1>
        <h2>～設定～</h2>
    </div>
    <!-- 🚀 .container の外に移動 -->
    <nav class="menu-bar" id="sidebar">
        <h1>メニュー</h1>
        <ul>
            <li><a href="{{ url_for('page_view.index') }}">ホーム</a></li>
            <li><a href="{{ url_for('page_view.input_page') }}">支出入力</a></li>
            <li><a href="{{ url_for('page_view.analysis_page') }}">支出分析</a></li>
            <li><a href="{{ url_for('page_view.settings_page') }}">マスタ設定</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>マスタ編集</h2>
        <div class="view_erea">
            <table class="view_table">
                <tr>
                    <th>カテゴリーマスタ</th>
                    <th>ユーザーマスタ</th>
                </tr>
                <tr>
                    <td>
                        <div class="master-table">
                            {% if category_master and category_master|length > 0 %}
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>分類</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for master in category_master %}
                                    <tr>
                                        <td>{{ master[0] }}</td>
                                        <td>{{ master[1] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <p>登録されたデータはありません</p>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="master-table">
                            {% if user_master and user_master|length > 0 %}
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ユーザー</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for master in user_master %}
                                    <tr>
                                        <td>{{ master[0] }}</td>
                                        <td>{{ master[1] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <p>登録されたデータはありません</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="master-form">
                            <form id="category-mater-form" action="{{ url_for('page_view.settings_page') }}" method="POST">
                                <label for="category">分類：</label>
                                <input type="text" name="category" required>
                                <button type="submit" id="master-add" name="form_add" value="category">登録</button>
                                <button type="submit" id="master-delete" name="form_delete" value="category">削除</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="master-form">
                            <form id="user-master-form" action="{{ url_for('page_view.settings_page') }}" method="POST">
                                <label for="user">ユーザー：</label>
                                <input type="text" name="user" required>
                                <button type="submit" id="master-add" name="form_add" value="user">登録</button>
                                <button type="submit" id="master-delete" name="form_delete" value="user">削除</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer id="last-updated">最終更新日: 読み込み中...</footer>
    <!-- JavaScriptを読み込む -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='adjustTableHeader.js') }}"></script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
</body>
</html>